.btn-outline-secondary {
    color:#6c757d;
    background-color:white;
    background-image:none;
    border-color:#6c757d
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

/* SIDE MENU */
.card-body{
    width: 100%;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #E2EFFF;
    opacity: 1;
    overflow-x: hidden;
    padding-top: 65px;
    transition: 0.2s;
    text-decoration: none;
}

.moveClass{
    transition: 0.2s;
}

.side-nav a{
    text-decoration: none;
}

.side-nav div{
    margin: 3px 3px 3px 3px;
    text-decoration: none;
}

.side-nav .btn-close{
    position: absolute;
    top: 0px;
    right: 22px;
    font-size: 45px;
    margin-left: 50px;
}

.side-nav .btn-generate{
    position: absolute;
    top: 20px;
    left: 10px;
    margin-left:1px;
}

.side-nav .tool-btn{
    position: absolute;
    top: 16px;
    left: 100px;
    margin-left:1px;
}

.loader {
    margin: auto;
    border: 16px solid #f8f9fa;
    border-radius: 50%;
    border-top: 16px solid #157ffb;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  input:invalid {
    border: 2px solid red;
  }

.card-header{
        height: 50px;/*remove this and header height will be 100px*/
    }
.card-header{padding:.75rem 1.25rem;margin-bottom:0;background-color:rgba(0,0,0,.03);border-bottom:1px solid rgba(0,0,0,.125)}
.card-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}